<div class="game-table">

	<!-- PLAYERS -->
	<div *ngFor="let player of game.players; let i = index" class="player"
		[class.user]="player.name && !player.name.startsWith('Bot')"
		[class.left]="player.name && player.name.startsWith('Bot') && (i % 3 === 1)"
		[class.top]="player.name && player.name.startsWith('Bot') && (i % 3 === 2)"
		[class.right]="player.name && player.name.startsWith('Bot') && (i % 3 === 0)"
		[class.active-player]="nonBotPlayer?.id === player.id">

		<!-- PLAYER CARDS -->
		<div *ngFor="let card of player.hand; let j = index" class="card" [style.animation-delay.s]="0.1 * j">
			<div class="card-inner"
				[class.is-flipped]="!player.folded && (game.phase === 'RIVER' || !(player.name && player.name.startsWith('Bot')))">
				<div class="card-front">
					<img [src]="getCardImage(card)" [alt]="card.value + ' of ' + card.suit" class="card-image" />
				</div>
				<div class="card-back">
					<img src="../../assets/cards/back.png" alt="Card Back" class="card-image" />
				</div>
			</div>
		</div>

		<!-- PLAYER INFO -->
		<div class="player-info">
			<span>{{ (player.name || '').replace('Bot', '') || 'Anonymous' }}</span>
			<span> Chips: {{ player.chips }}</span>
			<span *ngIf="isFolded()"> Folded</span>
		</div>
	</div>

	<!-- COMMUNITY CARDS -->
	<div class="community-cards">
		<div *ngFor="let card of game.communityCards; let k = index" class="card"
			[style.animation-delay.s]="0.3 + (0.1 * k)">
			<div class="card-inner is-flipped">
				<div class="card-front">
					<img [src]="getCardImage(card)" [alt]="card.value + ' of ' + card.suit" class="card-image" />
				</div>
				<div class="card-back">
					<img src="../../assets/cards/back.png" alt="Card Back" class="card-image" />
				</div>
			</div>
		</div>
	</div>

	<!-- ACTIONS -->
	<div class="actions">
		<!-- <button *ngIf="!isFolded() && game.phase !== 'RIVER'" (click)="check()">Check</button> -->
		<button *ngIf="!isFolded() && game.phase !== 'RIVER'" (click)="fold()">Fold</button>

		<app-raise-input *ngIf="!isFolded() && game.phase !== 'RIVER'" [game]="game"
			(actionTaken)="handleRaiseAction()"></app-raise-input>

		<div>Pots: {{ currentPot || 0 }}</div>

		<div>
			<!--
      <button *ngIf="!isFolded() && game.phase === 'PRE_FLOP'" (click)="dealFlop()">Deal Flop</button>
      <button *ngIf="!isFolded() && game.phase === 'FLOP'" (click)="dealTurn()">Deal Turn</button>
      <button *ngIf="!isFolded() && game.phase === 'TURN'" (click)="dealRiver()">Deal River</button>
      -->
			<button *ngIf="!isFolded() && game.phase === 'RIVER'" (click)="endGame(); openModal()">End Game</button>
		</div>
	</div>

	<!-- MODAL -->
	<div class="modal" *ngIf="showModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Game Ended</h5>
					<button type="button" class="btn-close" (click)="closeModal()"></button>
				</div>
				<div class="modal-body">
					<p>{{ gameResultMessage }}</p>
				</div>
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset Game</button> -->
					<button type="button" class="btn btn-primary" (click)="reloadPageOnStart()">Start New Match</button>
					<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>