<!-- <div class="logo-placeholder">
	<img src="../../assets/Baccaratio.png" alt="">
</div> -->
<div class="game-table">


	<div *ngFor="let player of game?.players; let i = index"
		[ngClass]="{'user': i === 0, 'left': i === 3, 'top': i === 1, 'right': i === 2}" class="player">
		<div *ngFor="let card of player.hand" class="card">
			<img *ngIf="(!player.folded || player.chips <= 0) && (game?.phase === 'RIVER' || !player.name?.startsWith('Bot'))"
				[src]="getCardImage(card)" [alt]="card.value + ' of ' + card.suit" class="card-image">
			<img *ngIf="player.folded || player.chips > 0 && (game?.phase !== 'RIVER' && player.name?.startsWith('Bot'))"
				src="../../assets/cards/back.png" alt="Card Back" class="card-image">
		</div>

		<div class="player-info">
			<span>{{ player.name || 'Anonymous' }}</span>
			<span> Chips: {{ player.chips }}</span>
			<span *ngIf="player.folded"> Folded</span>
		</div>
	</div>

	<div class="community-cards">
		<div *ngFor="let card of game?.communityCards" class="card">
			<img [src]="getCardImage(card)" [alt]="card.value + ' of ' + card.suit" class="card-image">
		</div>
	</div>

	<div class="actions">
		<button *ngIf="game?.phase !== 'RIVER'" (click)="fold()">Fold</button>
		<app-raise-input [game]="game" (actionTaken)="handleRaiseAction()"></app-raise-input>
		<div>Pots: {{ game.currentPot || 0 }}</div>
		<button *ngIf="game?.phase === 'PRE_FLOP'" (click)="dealFlop()">Deal Flop</button>
		<button *ngIf="game?.phase === 'FLOP'" (click)="dealTurn()">Deal Turn</button>
		<button *ngIf="game?.phase === 'TURN'" (click)="dealRiver()">Deal River</button>
		<button *ngIf="game?.phase === 'RIVER'" (click)="endGame(); openModal()">End Game</button>
	</div>

	<div class="modal" *ngIf="showModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Game Ended</h5>
					<button type="button" class="btn-close" (click)="closeModal()">Close</button>
				</div>
				<div class="modal-body">
					<!-- Game result or message -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>